{% extends "src/templates/layouts/main.njk" %}

<div >
    <h1>About Page 2024 - Nunjucks Webpack Framework. All rights reserved.</h1>

     2024 - Nunjucks Webpack Framework. All rights reserved.
</div>

{% block hero %}{% endblock %}