{% extends "src/templates/layouts/index.njk" %}

{% block content %}
<ul>
<li><a href="./home.html">Home Page</a></li>
<li><a href="./about.html">About Page</a></li>
<li><a href="./contact.html">Contact Page</a></li>
</ul>
{% endblock %} 