<footer class="footer-main">
    <div class="footer-container">
        <div class="footer-row">
            <div class="col-address">
                <ul class="bottom-margin-0">
                    <li class="footer-text-styles">326 City Road, London</li>
                    <li class="footer-text-styles">EC1V 2PT</li>
                    <li class="footer-text-styles">+91 84355 86444</li>
                </ul>
            </div>
            <div class="col-address-6">
                <div class="row-gap-4">

                    <div class="cal-address-6-margin-down-4 ">
                        <ul class="nav d-flex">
                            <li class="nav-item-footer">
                                <a class="nav-link-white" href="#">About</a>
                            </li>
                            <li class="nav-item-footer">
                                <a class="nav-link-white" href="#">Join us</a>
                            </li>
                            <li class="nav-item-footer">
                                <a class="nav-link-white" href="#">Privacy</a>
                            </li>
                            <li class="nav-item-footer">
                                <a class="nav-link-white" href="#">Cookies</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cal-address-6-margin-down-4">
                        <ul class="nav-flex-column">
                            <li class="nav-item">
                                <a class="nav-link-white" href="#">Linkedin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link-white" href="#">Twitter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link-white" href="#">Vimeo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link-white" href="#">Instagram</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copy-right">
            <div class="">
                &copy; 2024 - Nunjucks Webpack Framework. All rights reserved.
            </div>
        </div>
    </footer>