{% from 'src/templates/components/common/col2-text-image/col2-text-image.njk' import  imageAndText %}

{{ imageAndText({ title:"Nunjucks Webpack Framework",content:"Webpack is a free and open-source module bundler for JavaScript.
It is made primarily for JavaScript, but it can transform front-end assets such as HTML, CSS, and images
 if the corresponding loaders are included.[9] Webpack takes modules with dependencies and generates static
 assets representing those modules.  Grab nunjucks.js (min) for the full library, or nunjucks-slim.js (min)
 for the slim version which only works with precompiled templates.",
 imageUrl:"images/dummy-image.png",imageAlt:"imagepath", linkUrl:"https://webpack.js.org/" }) }}