<nav class="navbar-head">
  <div class="container-head">
    <a class="nav-brand-head" href="#">
      <img src="images/moving-logo.svg" alt="Logo"></a>
    <button class="nav-toggler-head" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="nav-toggler-icon"></span>
    </button>
    <div class="nav-collapse" id="navbarNavDropdown">
      <ul class="navbar-navs">
        <li class="nav-item-head">
          <a class="nav-link-head" href="/home.html">Home</a>
        </li>
        <li class="nav-item-head">
          <a class="nav-link-head" href="/about.html">About</a>
        </li>
        <li class="nav-item-head">
          <a class="nav-link-head-btn" href="/contact.html">Lets talk</a>
        </li>
      </ul>
    </div>
  </div>
</nav>