$primary-color: #ffff;
$secondary-color: #f4CA13;
$tertiary-color: #24272A;
$orange-color:#E6775D;
$black-color:#000000;

$font-weight-600: 600;
$line-height-text: 24px;

$padding-btn: 12px 21px;
$border-radius-btn: 100px;
